.center-wrapper {
  padding-left: $mobile-indent;
  padding-right: $mobile-indent;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .center-wrapper {
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
  }
}

@media (min-width: $desktop-width) {
  .center-wrapper {
    padding-left: $desktop-indent;
    padding-right: $desktop-indent;
  }
}
