.center-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .center-wrapper {
    padding-left: 52px;
    padding-right: 52px;
  }
}
