.center-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .center-wrapper {
    padding-left: 52px;
    padding-right: 52px;
  }
}
/*
@media (min-width: $desktop-width) {
  .center-wrapper {
    padding-left: 225px;
  }
}
*/
