.contacts {
  padding-top: 28px;
  margin-top: 15px;
  margin-bottom: 39px;

  &::before {
    content: "";
    display: block;
    height: 8px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: no-repeat;
    background-size: 338px 8px;
    background-position: center;
    width: 320px;
    margin-bottom: 37px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 175px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 100%;
  }
}

.contacts__field {
  display: flex;
  justify-content: flex-start;
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__field--address {
    width: 300px;
    margin-left: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__field--address {
    margin-left: 0;
  }
}

.contacts__value {
  margin-left: 31px;
}

.contacts__email-address {
  border-bottom: 1px solid #63d1bb;
}

.contacts__wrapper {
  padding-bottom: 24px;
}

.contacts iframe {
  position: absolute;
  z-index: 26;
}

.contacts-map-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .contacts__map-picture {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map-picture {
    position: absolute;
    right: 0;
    width: auto;
  }
}

.contacts__button {
  margin: 0 auto;
  width: 260px;
  box-sizing: border-box;
  margin-top: 32px;
}

@media (min-width: $tablet-width) {
  .contacts__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__button {
    margin-right: 0;
    margin-left: 0;
  }
}

.contacts__map-link {
  position: absolute;
  top: 145px;
  left: 138px;
}
