.fabrication {
  margin-top: 27px;
  margin-bottom: 58px;
}

@media (min-width: $tablet-width) {
  .fabrication {
    margin-top: 53px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .fabrication {
    margin-bottom: 108px;
    margin-top: 57px;
  }
}

.fabrication__content {
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .fabrication__content {
    position: relative;
  }
}

.fabrication__description {
  padding-left: 34px;
  padding-right: 40px;
  margin-top: 27px;
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .fabrication__description {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 11px;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .fabrication__description {
    padding-left: 0;
    padding-right: 0;
  }
}

.fabrication__wrapper {
  padding-bottom: 31px;
  border: 1px solid #ececec;
}

.fabrication__container {
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .fabrication__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .fabrication__wrapper {
    width: 230px;
    margin-left: auto;
    padding-right: 59px;
    padding-left: 80px;
    padding-bottom: 58px;
  }
}

.fabrication__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.fabrication__button {
  width: 192px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .fabrication__button {
    width: 100%;
    margin-right: 42px;
    margin-left: 42px;
    margin-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .fabrication__button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;
  }
}

.fabrication__video-wrapper {
  position: relative;
  height: 150px;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .fabrication__video-wrapper {
    order: -1;
    width: 100%;
    height: auto;
    overflow: unset;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .fabrication__video-wrapper {
    position: absolute;
    left: 50px;
    top: 0;
    width: auto;
  }
}

.fabrication__title {
  position: relative;
  padding-top: 26px;
  padding-bottom: 23px;
  padding-left: 90px;

  &::before {
    content: "";
    position: absolute;
    left: 34px;
    top: 50%;
    transform: translateY(-50%) translateY(-3px);
    display: inline-block;
    width: 32px;
    height: 29px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .fabrication__title {
    padding-top: 28px;
    padding-left: 105px;
    font-size: 20px;
    padding-bottom: 21px;

    &::before {
      left: 41px;
      transform: translateY(-14px);
    }
  }
}

@media (min-width: $desktop-width) {
  .fabrication__title {
    padding-left: 0;
    padding-top: 95px;
    padding-bottom: 24px;

    &::before {
      top: 42px;
      left: 0;
      transform: none;
    }
  }
}
