.features__title {
  margin-bottom: 31px;
}

.features__list {
  @include list-clear;
  @include font-bold;
  font-size: 17px;
  color: #000000;
}

.features__item {
  padding-top: 57px;
  margin-bottom: 33px;
}
