.features {
  margin-top: 34px;

  &::before {
    content: "";
    display: block;
    height: 8px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 338px 8px;
    background-position: center;
    margin-right: -$mobile-indent;
    margin-left: -$mobile-indent;
    margin-bottom: 26px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin-top: 53px;

    &::before {
      width: 768px;
      height: 16px;
      margin-left: -$tablet-indent;
      margin-bottom: 47px;
      background-size: 771px 16px;
      background-position: 20px;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-left: 221px;
    padding-right: 229px;
    margin-top: 73px;

    &::before {
      width: 1050px;
      height: 23px;
      margin-left: -171px;
      margin-bottom: 60px;
      background-size: 100%;
      background-repeat: repeat-x;
      background-position: 25px;
    }
  }
}

.features__title {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .features__title {
    margin-bottom: 49px;
  }
}

.features__list {
  @include list-clear;
  @include font-bold;
  font-size: 17px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .features__list {
    column-count: 2;
    column-gap: 0;
  }
}

.features__item {
  position: relative;
  padding-top: 57px;
  margin-bottom: 28px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 55px;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .features__item {
    margin-bottom: 59px;
  }
}

.features__item--material {
  padding-top: 54px;

  &::before {
    left: 6px;
    background-image: url("../img/icon-feature-flower.svg");
  }
}

@media (min-width: $desktop-width) {
  .features__item--material {
    padding-top: 57px;
  }
}

.features__item--style::before {
  background-image: url("../img/icon-feature-money.svg");
}

.features__item--like::before {
  top: 7px;
  left: 8px;
  background-image: url("../img/icon-feature-heart.svg");
}

.features__item--handmade {
  padding-top: 53px;

  &::before {
    top: 3px;
    left: 3px;
    background-image: url("../img/icon-feature-ball.svg");
  }
}

@media (min-width: $desktop-width) {
  .features__item--handmade {
    padding-top: 57px;

    &::before {
      top: 3px;
      left: 5px;
    }
  }
}

.features__item--localmade::before {
  top: 4px;
  left: -6px;
  background-image: url("../img/icon-feature-rocket.svg");
}

.features__item--giftwrap {
  padding-top: 55px;

  &::before {
    left: 3px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features__item {
    font-size: 20px;
  }
}
