.form {
  margin-top: 18px;

  & legend {
    @include font-bold;
    float: left;
    font-size: 17px;
    color: #63d1bb;
    text-transform: uppercase;
  }
}

.form__fieldset {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: none;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    padding-left: 65px;
  }
}

.form__explanation {
  margin-top: 7px;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__explanation {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__explanation {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset {
    &:nth-of-type(4) {
      & input {
        bottom: -12px;
        right: 50px;
      }
    }

    &:nth-of-type(n+4) {
      & input {
        width: 501px;
      }
    }

    &:nth-of-type(5) {
      & input {
        bottom: 50px;
        right: 50px;
      }
    }

    & input {
      flex-grow: 1;
      font-size: 19px;
      line-height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset {
    &:nth-of-type(n+4) {
      & input {
        width: 700px;
      }
    }
  }
}

.form__button {
  margin-top: 31px;
  margin-bottom: 55px;
  width: 100%;
  font-size: 17px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;
    margin-top: 44px;
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .form__submit {
    padding-left: 176px;
    padding-right: 174px;
    margin-bottom: 42px;
  }
}

@media (min-width: $tablet-width) {
  .form__button {
    width: 230px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .form {
    & legend {
      padding-top: 9px;
      width: 169px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    & legend {
      width: 100px;
    }
  }
}
