.form__list {
  @include list-clear;
  clear: both;
}

@media (min-width: $tablet-width) {
  .form__list {
    padding-left: 169px;
    clear: none;
  }
}

@media (min-width: $desktop-width) {
  .form__list {
    padding-left: 111px;
  }
}
