.goods-list {
  list-style: none;
  padding-left: $mobile-indent;
  padding-right: $mobile-indent;
}

@media (min-width: $tablet-width) {
  .goods-list {
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
    margin-top: 83px;
  }
}

@media (min-width: $desktop-width) {
  .goods-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 49px;
    margin-top: 76px;
  }
}
