.goods-type {
  @include list-clear;
}

@media (min-width: $tablet-width) {
  .goods-type {
    display: flex;
    flex-wrap: wrap;
    min-height: 119px;
    margin-top: -119px;
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
  }
}

@media (min-width: $tablet-width) {
  .goods-type {
    padding-left: $desktop-indent;
    padding-right: $desktop-indent;
  }
}

.goods-type__item {
  @include font-bold;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 19px;
  padding-right: 26px;

  &::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 62px 62px;
    opacity: 0.5;
  }

  &:hover {
    padding-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .goods-type__item {
    flex-grow: 1;
  }
}

.goods-type__item--interior {
  background-color: #63d1bb;
}

.goods-type__item--interior::after {
  background-image: url("../img/icon-interior.svg");
}

.goods-type__item--toys {
  background-color: #56c3b2;
}

.goods-type__item--toys::after {
  background-image: url("../img/icon-toy.svg");
}

.goods-type__link {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 30px;
}

.goods-type__name {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  line-height: 24px;
}
