.goods-item {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 0;
  margin-top: 31px;

  &:hover {
    & .goods-item__description-wrapper {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    & .goods-item__description-wrapper {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: $tablet-width) {
  .goods-item {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item {
    flex-direction: column-reverse;
    width: 316px;
    margin-right: 50px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.goods-item__image {
  display: block;
}

@media (min-width: $tablet-width) {
  .goods-item__title {
    font-size: 20px;
  }
}

.goods-item__description-wrapper {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 26px;
  margin-top: -1px;
  border: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .goods-item__description-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 27px;
    padding-right: 35px;
    padding-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item__description-wrapper {
    padding-left: 27px;
    padding-right: 32px;
    flex-basis: auto;
  }
}

.goods-item__description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .goods-item__description {
    font-size: 15px;
    padding-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item__description {
    padding-bottom: 15px;
  }
}

@media (min-width: $tablet-width) {
  .goods-item__description--bin-linens {
    padding-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item__description--bin-linens {
    padding-top: 5px;
  }
}

.goods-item__link:hover {
  @include hover-active;
}

.goods-item__price {
  @include font-bold;
  position: relative;
  display: block;
  padding-top: 19px;
  padding-bottom: 28px;
  line-height: 24px;
  color: #000000;
  border-top: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .goods-item__price {
    font-size: 17px;
    padding-top: 22px;
    margin-top: auto;
    margin-left: 4px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item__price {
    padding-top: 23px;
    padding-bottom: 24px;
    margin-top: auto;
    margin-left: 0;
  }
}

.goods-item__cart {
  position: absolute;
  right: 0;
  top: 44%;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 19px;
  opacity: 0.2;
  font-size: 0;

  &:hover {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  & svg {
    position: absolute;
  }
}

@media (min-width: $tablet-width) {
  .goods-item__cart {
    right: -3px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item__cart {
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .goods-item__image-link {
    flex-shrink: 0;
  }
}
