.main-nav {
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translateY(-50%);
  z-index: 2;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  cursor: pointer;
  border: none;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}


.main-nav a[href] {
  @include hover-active;
}

.main-nav a[href]:hover {
  & .site-list__image {
    fill: #63d1bb;
    opacity: 1;
  }

  & .site-list__text {
    opacity: 0.6;
  }
}

.main-nav a[href]:active {
  & .site-list__image {
    fill: #63d1bb;
    opacity: 0.3;
  }

  & .site-list__text {
    opacity: 0.3;
  }
}
