.page-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;

    &::before {
      content: "";
      display: block;
      width: 250px;
      height: 50px;
      margin-right: 20px;
      background-image: url("../img/logo-tablet.svg");
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
}

.page-footer__social {
  border-bottom: 1px solid #ececec;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83px;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    justify-content: flex-end;
    width: 250px;
    margin-left: 20px;
  }
}

.page-footer__copyright-text {
  @include font-bold;
  margin-right: 32px;
  padding-bottom: 19px;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright-text {
    padding-bottom: 0;
  }
}

.page-footer__copyright-link {
  fill: #63d1bb;
  padding-bottom: 5px;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
.page-footer__copyright-link {
  padding-top: 13px;
  padding-bottom: 0;
  }
}
