.page-header {
  position: relative;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
    margin-bottom: -67px;
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: $desktop-indent;
    padding-right: $desktop-indent;
    margin-bottom: -89px;
  }
}
