.page-footer {
  background-color: #f1f1f1;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 115px;
      height: 50px;
      background-color: #ececec;
      background-image: url("../img/logo-tablet.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.page-footer__social {
  @include list-clear;
}

.page-footer__copyright {
  text-align: center;
}

.page-footer__copyright-text {
  @include font-bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}
