.site-list {
  @include list-clear;
  @include font-bold;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-list__item {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 76px;
  padding-right: 30px;
  border-top: 1px solid #ececec;
}

.site-list__item--bin {
  border-bottom: 1px solid #ececec;
}

.site-list__image {
  padding-left: 32px;
  padding-right: 20px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;
    padding-left: 0;
  }

  .site-list__link {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item--bin {
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .site-list__text--search {
    font-size: 0;
  }
}
