.site-list {
  @include list-clear;
  font-family: "opensans", Arial, sans-serif;
  font-weight: 800;
  font-size: 17px;
  line-height: 24px;
}

.site-list__item {
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;
}
