.slider {
  margin-top: 29px;
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .slider {
    position: absolute;
    right: 53px;
    bottom: 48px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.slider__button {
  width: 129px;
  height: 52px;
  font-size: 0;
  background-color: #ffffff;
  padding: 0;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: center;

  &:hover {
    @include hover-active;
  }
}

@media (min-width: $tablet-width) {
  .slider__button {
    width: 84px;
    border: none;
  }
}

.slider__button--left {
  background-image: url("../img/icon-left-arrow.svg");
}

.slider__button--right {
  margin-left: -3px;
  background-image: url("../img/icon-right-arrow.svg");
  border-left: none;
}
