.social {
  @include list-clear;
  display: flex;
  min-height: 83px;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link svg {
  &:hover {
  fill: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}

