.text-form__list {
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .text-form__list {
    padding-top: 0;
    margin-top: -1px;
  }
}

.text-form__item {
  &:not(:first-of-type) {
    margin-top: 17px;
  }
}

@media (min-width: $tablet-width) {
  .text-form__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 14px;
  }
}

.text-form--additions {
  & textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding-top: 13px;
    margin-top: 16px;
    border: 2px solid #444444;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      border: 2px solid #62d1ba;
    }
  }
}

@media (min-width: $tablet-width) {
  .text-form--additions {
    position: relative;
  }
}

.text-form--phone,
.text-form--email {
  position: relative;

  & svg {
    position: absolute;
    right: 4px;
    bottom: 10px;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone,
  .text-form--email {
    svg {
      right: 23px;
      bottom: -2px;
    }
  }
}

.text-form--phone {
  & svg {
    right: 8px;
    bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone {
    & svg {
      right: 26px;
      bottom: 6px;
    }
  }
}
