.text-form__list {
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .text-form__list {
    padding-top: 0;
    margin-top: -1px;
  }
}

.text-form__item {
  &:not(:first-of-type) {
    margin-top: 17px;
  }
}

@media (min-width: $tablet-width) {
  .text-form__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 14px;
  }
}

@media (min-width: $tablet-width) {
  .text-form--additions {
    padding-top: 0;

    & legend {
      padding-top: 26px;
    }
  }
}

.text-form--phone,
.text-form--email {
  position: relative;

  & svg {
    position: absolute;
    right: 4px;
    bottom: 10px;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone,
  .text-form--email {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f1;

    svg {
      right: 73px;
      bottom: 58px;
    }
  }
}

.text-form--phone {
  & svg {
    right: 76px;
    bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone {
    margin-left: -50px;
    margin-right: -50px;
  }

  input {
    bottom: -12px;
    right: 50px;
    z-index: 3;
    padding-left: 16px;
  }

  & svg {
    right: 77px;
    bottom: 6px;
    z-index: 5;
  }
}


@media (min-width: $tablet-width) {
  .text-form--email {
    padding-right: 50px;
    background-color: #f1f1f1;
    margin-top: 0;
    padding-top: 46px;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-bottom: 62px;

    input {
      bottom: 50px;
      right: 50px;
      padding-left: 18px;
    }
  }
}
