.text-form {
  position: relative;

  & svg {
    position: absolute;
    right: 4px;
    bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .text-form {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .text-form {
    padding-left: 113px;
    padding-right: 226px;
  }
}

.text-form__list {
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .text-form__list {
    padding-top: 8px;
    margin-top: -1px;
  }
}

.text-form__item {
  &:not(:first-of-type) {
    margin-top: 17px;
  }
}

@media (min-width: $tablet-width) {
  .text-form__item {
    display: flex;
    align-items: baseline;
    padding-bottom: 14px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.text-form--additions {
  padding-top: 10px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .text-form--additions {
    padding-top: 34px;

    & legend {
      padding-top: 26px;
    }
  }
}

.text-form--phone,
.text-form--email {
  padding-top: 8px;
  padding-bottom: 17px;

  & legend {
    padding-bottom: 6px;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone,
  .text-form--email {
    padding-top: 57px;
    padding-bottom: 50px;
    background-color: #f1f1f1;

    svg {
      right: 73px;
      bottom: 59px;
    }

    & legend {
      padding-bottom: 6px;
      padding-top: 2px;
    }
  }
}

.text-form--phone {
  & svg {
    right: 8px;
    bottom: 34px;
  }
}

@media (min-width: $tablet-width) {
  .text-form--phone {
    padding-bottom: 0;

    & svg {
      right: 77px;
      bottom: 19px;
      z-index: 5;
    }

    & input {
      padding-left: 18px;
    }
  }
}


@media (min-width: $tablet-width) {
  .text-form--email {
    padding-right: 50px;
    background-color: #f1f1f1;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 50px;

    input {
      bottom: 50px;
      right: 50px;
      padding-left: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .text-form--phone {
    & svg {
      right: 233px;
      bottom: 17px;
    }

    & legend {
      width: 113px;
      padding-top: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .text-form--email {
    & svg {
      right: 229px;
      bottom: 59px;
    }

    & legend {
      width: 113px;
      padding-top: 5px;
    }
  }
}
