.textarea-field {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding-top: 13px;
  margin-top: 16px;
  border: 2px solid #444444;
  padding-left: 15px;
  padding-bottom: 25px;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.3);
  border-radius: 0;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover:not(:disabled) {
    border-color: #62d1ba;
  }

  &:focus {
    color: #444444;
    outline: none;
    border-color: #62d1ba;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .textarea-field {
    width: 501px;
    font-size: 20px;
    padding-bottom: 9px;
  }
}

@media (min-width: $desktop-width) {
  .textarea-field {
    width: 700px;
    margin-left: 11px;
  }
}
