.title {
  @include font-bold;
  color: #000000;
  font-size: 27px;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.title--m {
  font-size: 25px;
}

@media (min-width: $tablet-width) {
  .title,
  .title--m {
    font-size: 43px;
    line-height: 50px;
  }
}

.title--xs {
  font-size: 18px;
  line-height: 30px;
}

.title--s {
  font-size: 17px;
  line-height: 24px;
}
