@media (min-width: $tablet-width) {
  .week-offer {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__wrapper {
    width: 292px;
  }
}

.week-offer__title {
  text-transform: uppercase;
  color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .week-offer__title {
    margin-left: auto;
    margin-top: 55px;
    margin-right: 27px;
    width: 70px;
  }
}

.week-offer__name {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .week-offer__name {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}


.week-offer__description {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .week-offer__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.week-offer__price {
  @include font-bold;
  font-size: 17px;
  margin: 28px 0;
}

@media (min-width: $tablet-width) {
  .week-offer__price {
    margin-top: 59px;
  }
}

.week-offer__image--tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .week-offer__image--tablet {
    display: inline-block;
    margin-left: auto;
  }

  .week-offer__image--mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__table {
    margin-top: 50px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__button {
    margin-top: 51px;
  }
}
