@media (min-width: $tablet-width) {
  .week-offer {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    margin-top: 100px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__wrapper {
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__wrapper {
    margin-left: 125px;
  }
}

.week-offer__title {
  text-transform: uppercase;
  color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .week-offer__title {
    margin-left: auto;
    margin-right: 27px;
    width: 70px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__title {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__title {
    order: -1;
  }
}

.week-offer__name {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .week-offer__name {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__name {
    width: 722px;
    margin-left: 24px;
  }
}

.week-offer__description {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .week-offer__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.week-offer__price {
  @include font-bold;
  font-size: 17px;
  margin: 28px 0;
}

@media (min-width: $tablet-width) {
  .week-offer__price {
    margin-top: 59px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__image {
    position: absolute;
    top: 9px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__image {
    position: absolute;
    top: 9px;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__table {
    margin-top: 50px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__button {
    margin-top: 51px;
  }
}
