.week-offer {
  margin-top: 29px;
}

@media (min-width: $tablet-width) {
  .week-offer {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer {
    padding-top: 54px;
    padding-left: 97px;
    margin-top: 70px;
  }
}

.week-offer__wrapper {
  margin-top: 17px;
}

@media (min-width: $tablet-width) {
  .week-offer__wrapper {
    width: 292px;
    margin-top: 49px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__wrapper {
    margin-top: 48px;
    margin-left: 128px;
  }
}

.week-offer__title {
  text-transform: uppercase;
  color: #63d1bb;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .week-offer__title {
    width: 70px;
    margin-left: auto;
    margin-right: 29px;
    margin-top: 7px;
    text-align: center;
    line-height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__title {
    margin-left: 0;
    order: -1;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__name {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__name {
    width: 722px;
    margin-left: 24px;
    z-index: 3;
  }
}

.week-offer__description {
  line-height: 25px;
}

@media (min-width: $tablet-width) {
  .week-offer__description {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.week-offer__price {
  @include font-bold;
  margin-top: 13px;
  margin-bottom: 22px;
  margin-left: 0;
  margin-right: 0;
  font-size: 17px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .week-offer__price {
    margin-top: 53px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__price {
    margin-top: 104px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__image {
    position: absolute;
    top: 157px;
    right: 89px;
    transform: scale(1.3); // временное правило
  }
}

@media (min-width: $desktop-width) {
  .week-offer__image {
    position: absolute;
    top: 44px;
    right: 186px;
    transform: scale(2);//Временное правило
  }
}

@media (min-width: $desktop-width) {
  .week-offer__field {
    padding-left: 3px;
  }
}

.week-offer__value {
  padding-left: 28px;
}

@media (min-width: $tablet-width) {
  .week-offer__value {
    padding-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__value {
    padding-left: 0;
  }
}

.week-offer__table {
  border-collapse: collapse;
  margin-bottom:26px;

  & td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__table {
    width: 260px;
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .week-offer__table {
    width: 297px;
    margin-top: 46px;
  }
}

@media (min-width: $tablet-width) {
  .week-offer__button {
    width: 290px;
    margin-top: 31px;
  }
}
