.button {
  display: inline-block;
  height: 52px;
  width: 255px;
  @include font-bold;
  font-size: 17px;
  color: #444444;
  text-align: center;
  border: 2px solid #444444;
  text-transform: uppercase;
}
