.button {
  @include font-bold;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 17px;
  color: #444444;
  line-height: 20px;
  text-align: center;
  border: 2px solid #444444;
  text-transform: uppercase;

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }
}
