@mixin font-regular {
  font-family: "opensans", "Arial", sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: "opensans", "Arial", sans-serif;
  font-weight: 700;
}

@mixin list-clear {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hover-active {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
